* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#R {
  height: 35px;
  width: 80%;
  border-radius: 50%;
}

#hi {
  font-size: 50px;
  font-weight: bold;
}

#fsd {
  font-size: 95px;
  background-image: linear-gradient(
    -225deg,
    #d2cce9 0%,
    #18ea10 29%,
    #135eff 67%,
    #ff009d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  font-weight: bolder;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#menu-child {
  border: 1px solid;
}

#menu {
  display: none;
}

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgb(228, 227, 227);
  min-width: max-content;
  align-items: center;
  color: black;
  padding: 0px 30px;
  z-index: 999;
  gap: 2;
}

#navbar p {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

#resume:hover {
  background-color: black;
  color: white;
}

#home {
  height: 100vh;
}

#hi {
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

#type {
  /* border: 1px solid; */
  display: block;
  margin: auto;
  height: 110px;
}

#home > div {
  padding-top: 3%;
  width: 85%;
  margin: auto;
  text-align: center;
  /* border: 1px solid white; */
}

#resume {
  padding: 20px 35px;
  background-color: crimson;
  color: white;
  margin: auto;
  display: flex;
  text-align: center;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#about-para {
  /* border: 1px solid; */
  /* width: 85%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0% 10%;
}

#about-para p {
  font-size: 23px;
  width: 70%;
  font-family: monospace;
  font-weight: 700;
}

#about-para > div:nth-child(1) {
  /* border: 1px solid; */
  width: 70%;
}

#profile {
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  border-radius: 20px;
}

#skills {
  height: 100vh;
  padding-top: 4.5%;
  margin-bottom: 7%;
}

#skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}

#skills-grid > div {
  /* border: 1px solid ; */
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

#skills-grid > div > img {
  height: 50%;
  border-radius: 15px;
}

#skills-grid > div:hover {
  padding: 10%;
  box-shadow: rgba(234, 236, 237, 0.868) 0px 3px 3px 2px,
    rgba(21, 21, 57, 0.658) 0px 2px 16px 0px;
}

#soft-skill {
  display: grid;
  /* border: 1px solid; */
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}

#soft-skill > div {
  /* border: 1px solid; */
  padding: 15%;
  border-radius: 10px;
}

#soft-skill > div p {
  /* border: 1px solid; */
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

#soft-skill > div img {
  /* height: 70%; */
  border-radius: 15px;
  margin: auto;
}

#soft-skill > div:hover {
  padding: 10%;
  box-shadow: rgba(234, 236, 237, 0.868) 0px 3px 3px 2px,
    rgba(21, 21, 57, 0.658) 0px 2px 16px 0px;
}

#projects {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#project_grid {
  display: grid;
  width: 85%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

#project_grid > div {
  padding: 20px;
  border-radius: 10px;
  /* height: 100%; */
}

#project_grid > div:hover {
  background-color: rgb(236, 248, 109);
  padding: 5% 2% 5% 2%;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#project_grid > div > div {
  overflow: hidden;
}

#project_grid > div > div > img {
  /* border: 1px solid; */
  height: 101%;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  /* border: 1px solid red; */
}

.btn button {
  font-size: 35px;
  background: none;
}

.btn button:hover {
  color: crimson;
  background: none;
}

#sep {
  background-color: gray;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#screen {
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
}

#tech_stack {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

#tech_stack > img {
  height: 40px;
}

#calender {
  margin: auto;
  /* border: 1px solid; */
  border-radius: 10px;
  width: 75%;
  padding: 20px;
  margin-bottom: 5%;
}

#stats {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 99%;
}

#stats img {
  border-radius: 10px;
}

#contact {
  /* background-image: url("https://th.bing.com/th/id/R.c4c72f2a347e16f2f812ed9dc756fbe4?rik=58Qzqocgb3Abbw&riu=http%3a%2f%2fwww.2cooldesign.co.za%2fportfolio%2fwp-content%2fuploads%2f2013%2f03%2fbackground-website-1024x448.jpg&ehk=F%2bW%2fpEv58LCR7aAZENfneViJUglFzFF0nM26oajcBnk%3d&risl=&pid=ImgRaw&r=0"); */
  padding-bottom: 7%;
}

#contact_grid {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  /* border: 1px solid; */
  margin: auto;
}

#contact_grid > div {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
}

#contact_grid i {
  font-size: 35px;
  /* color: black; */
}

#contact_grid a:hover {
  cursor: pointer;
  background: none;
  box-shadow: rgba(243, 239, 239, 0.35) -1px 5px 25px 5px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 20px;
  left: 30px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: crimson;
}

.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #000200c1;
  padding: 2.5em 1.5em 0;
  font-size: 24px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
}

/* =============> Media Queries <================ */

@media all and (min-width: 125px) and (max-width: 426px) {
  #menu {
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    height: 60px;
  }

  #navbar {
    display: none;
  }

  #home {
    width: 100%;
    height: 100vh;
    padding-top: 10%;
  }

  #hi {
    font-size: 30px;
    font-weight: bold;
  }

  #fsd {
    font-size: 45px;
    font-weight: bolder;
  }

  #home > div > div:nth-child(1) {
    /* border: 1px solid; */
    width: 95%;
    margin-bottom: -20px;
  }

  #about {
    width: 100%;
    height: 100vh;
  }

  #about p {
    font-size: 14px;
    width: 98%;
  }

  #about img {
    height: 250px;
  }

  #about-para {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  #home h3 {
    font-size: 25px;
    margin-bottom: -20px;
  }
  #home h1 {
    font-size: 38px;
  }

  #skills,
  #projects {
    height: auto;
    padding-top: 15%;
    padding-bottom: 25%;
  }

  #skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #project_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  #project_grid div {
    height: auto;
    padding: 10px;
  }

  #project_grid > div > div p {
    font-size: 12px;
    width: 90%;
    margin: auto;
  }

  #project_grid > div > div h2 {
    font-size: 20px;
  }

  #tech_stack {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #sep {
    height: 15px;
  }

  #tech_stack > h3 {
    font-size: 15px;
    font-family: monospace;
  }

  #tech_stack > img {
    height: 25px;
  }

  i {
    font-size: 20px;
  }

  .btn > a button {
    height: 30px;
    margin-right: 10px;
  }

  #contact_grid i {
    font-size: 25px;
  }

  #contact_grid > div {
    border: 1px solid grey;
    padding: 7px;
    border-radius: 10px;
  }

  #calender {
    width: 90%;
  }

  #stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    gap: 10px;
  }

  #stats img {
    height: 100px;
  }

  #soft-skill {
    display: grid;
    /* border: 1px solid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
  }

  #soft-skill > div {
    border-radius: 10px;
  }

  #soft-skill > div p {
    /* border: 1px solid; */
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }
}

@media all and (min-width: 427px) and (max-width: 769px) {
  #menu {
    display: none;
  }

  #home {
    width: 100%;
    height: 100vh;
    padding-top: 15%;
  }

  #hi {
    font-size: 50px;
    font-weight: bold;
  }

  #fsd {
    font-size: 67px;
    font-weight: bolder;
  }

  #about {
    width: 100%;
    height: 100vh;
  }

  #about img {
    height: 250px;
  }

  #about p {
    font-size: 18px;
    width: 98%;
  }

  #about-para {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  #home h3 {
    font-size: 20px;
    margin-bottom: -20px;
  }
  #home h1 {
    font-size: 60px;
  }

  #skills,
  #projects {
    height: auto;
    padding-top: 8%;
    padding-bottom: 25%;
  }

  #skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #project_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  #project_grid div {
    height: auto;
  }

  #project_grid > div > div p {
    font-size: 16px;
    width: 90%;
    margin: auto;
  }

  #project_grid > div > div h2 {
    font-size: 30px;
  }

  #screen {
    height: 70%;
  }

  #screen img {
    width: 100%;
  }

  #tech_stack {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  #tech_stack > h3 {
    font-size: 18px;

    font-family: monospace;
  }

  #tech_stack > img {
    height: 45px;
  }

  .btn {
    font-size: 30px;
  }

  #contact_grid i {
    font-size: 25px;
  }

  #contact_grid > div {
    border: 1px solid grey;
    padding: 7px;
    border-radius: 10px;
  }

  #calender {
    width: 90%;
  }

  #soft-skill {
    display: grid;
    /* border: 1px solid; */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
  }
}

/* /////////////////////// */
